<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Registration successful</title>
  </head>
  <body>
    <h1>Your registration was successful!</h1>
    <p>Hello, <span th:text="${name}"></span> and welcome to FinExp!</p>
    <p>
      You're just one step closer to your financial health and a better
      financial security.
    </p>
    <p>
      <a th:href="${link}"> Click here </a>
      to validate your registration.
    </p>
  </body>
</html>
